.Xauthority
.adobe/
.cache/
.cups/
.gem/
.luarocks/
.sh_history
local/
.#*
.emacs
.git-credentials
.XWinrc
.recently-used.xbel
.rnd
.startxwinrc
.wgetrc
.xsession
.CFUserTextEncoding
.bash_history
.deft/
.gimp-2.6/
.gnupg/
.ssh/
.Trash/
.dropbox/
.emacsdata/
.matplotlib/
.protected/
emacs
bau/
docs/
download/
manage/
oel/
scans/
scripts/
study/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
archive/
bin/
dev/
etc/
share/
tmp/
