/.CFUserTextEncoding
/.Trash/
/.Xauthority
/.adobe/
/.apdisk
/.bash_history
/.bash_sessions
/.cabal/
/.cache/
/.config/
/.cups/
/.docfetcher
/.docker/
/.dropbox/
/.emacs
/.emacs.d/
/.gem/
/.git-credentials
/.gtk-bookmarks
/.idlerc/
/.ipython/
/.matplotlib/
/.netrc
/.npm/
/.pandoc/
/.panzer/
/.pip/
/.python_history
/.sh_history
/.ssh/
/.swt/
/.virtualenvs/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Onedrive/
/Pictures/
/Public/
/archive/
/bin/
/data/
/devel/
/emacs
/share/
/sites/
/tmp/
